.navmenu {PADDING-LEFT: 5px; PADDING-TOP: 0; HEIGHT: 28px; TEXT-ALIGN: left; BACKGROUND: url(/Content/Admin/Img/nav.png) repeat-x right -112px; OVERFLOW: hidden}
.navmenu .menu {float:left;PADDING: 0px;}
.navmenu .menu LI {DISPLAY: block; FLOAT: left; MARGIN: 0 5px 0 0; HEIGHT: 28px; CURSOR: pointer}
.navmenu .menu LI A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 28px; CURSOR: pointer}
.navmenu .menu LI A {DISPLAY: inline-block; BACKGROUND: url(/Content/Admin/Img/nav.png) #5DA5D5 no-repeat 0 0; TEXT-DECORATION: none; letter-spacing:0;padding-left:12px}
.navmenu .menu LI A SPAN {DISPLAY: inline-block; *display:inline;  BACKGROUND: url(/Content/Admin/Img/nav.png) #5DA5D5 right -28px no-repeat; PADDING-BOTTOM: 0px; PADDING: 6px 10px 0 0; HEIGHT: 22px; *HEIGHT: 28px; letter-spacing:0;}
.navmenu .menu LI A SPAN IMG{padding-right:5px;margin-bottom:2px;}
.navmenu .menu LI b{float:left;width:22px;height:22px}
.navmenu .menu LI A:hover {BACKGROUND: url(/Content/Admin/Img/nav.png) no-repeat 0 -56px; TEXT-DECORATION: none}
.navmenu .menu LI A:hover SPAN {BACKGROUND: url(/Content/Admin/Img/nav.png) no-repeat right -84px; COLOR: #000;font-weight:bold}
.navmenu .menu LI.current A {BACKGROUND: url(/Content/Admin/Img/nav.png) no-repeat 0 -56px; TEXT-DECORATION: none}
.navmenu .menu LI.current A SPAN {BACKGROUND: url(/Content/Admin/Img/nav.png) no-repeat right -84px; COLOR: #000;font-weight:bold;}
.navmenu .menu #menu_Product b{background:url(/Content/icon/product.png) no-repeat 0 1px}
.navmenu .menu #menu_Order b{background:url(/Content/icon/order.png) no-repeat 0 1px}
.navmenu .menu #menu_User b{background:url(/Content/icon/user.png) no-repeat 0 1px}
.navmenu .menu #menu_Promotion b{background:url(/Content/icon/promotion.png) no-repeat 0 1px}
.navmenu .menu #menu_Statis b{background:url(/Content/icon/statis.png) no-repeat 0 1px}
.navmenu .menu #menu_Theme b{background:url(/Content/icon/theme.png) no-repeat 0 1px}
.navmenu .menu #menu_Config b{background:url(/Content/icon/config.png) no-repeat 0 1px}
.navmenu .menu UL LI A:hover {COLOR: #ff7; TEXT-DECORATION: none}
.navmenu .menu UL LI A {COLOR: #fff; TEXT-DECORATION: none}
.navmenu .tool{float:left;MARGIN-LEFT:5px;PADDING: 0px}
.navmenu .tool LI{float:left;height:22px;line-height:22px;background:url(/Content/Admin/Img/nav.png) 0 -140px;margin-right:10px;margin-top:2px;}
.navmenu .tool LI span{display:inline-block;background:url(/Content/Admin/Img/nav.png) no-repeat right -162px;padding:0 15px; color:#4884B9}
.navmenu .tool LI a{color:#4884B9; TEXT-DECORATION: none}

/*cts add*/
.navmenu { position:absolute;top:51px;left:200px;background-color:none;font-size:13px;}
.navmenu .menu {position:static;background-color: #A8D6F6; border:0;}